body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #080808;
    
}
h1,h2,h3{
    color: #0f0f0f;
}
a{
    color: #141414;
}
#menu, #aboutus, #feedback{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}
#restaurantname{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;

}
#headercontainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 2%;
    height: 80px;
    background-color: #6E1F1F;

}
#headernameandlogo{
    display: flex;
    align-items: center;

}
#header_menu{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    margin-left: auto;
    justify-content: space-between;
    gap: 10px;

}
#menu:active{
    color: white;
    font-size: 20px;
}
#menu:visited{
    color:white;
    font-size: 20px;
}
#menu:link{
    color: black;
    font-size: 20px;
}
#aboutus:active{
    color: white;
    font-size: 20px;
}
#aboutus:visited{
    color:white;
    font-size: 20px;
}
#aboutus:link{
    color: black;
    font-size: 20px;
}
#feedback:active{
    color: white;
    font-size: 20px;
}
#feedback:visited{
    color:white;
    font-size: 20px;
}
#feedback:link{
    color: black;
    font-size: 20px;
}
#logo{
    width: 100px;
    height: 100px;
    text-align: right;
    
}

#homelogo{
    margin-top: auto;
    margin-bottom: auto;
    width: 45px;
    margin-right: 7px;
}
#cartlogo{
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    margin-left: 7px;
    

}
#main_body{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:150px;
    max-width: 1200px;
    margin:0 auto;

}
#most_ordered{
    display:flex;
    flex-direction: column;
    padding-top: 40px;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    gap:10px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
    
}
#popular{
    width: 300px;
    height: auto;
    text-align: center;
    object-fit: cover;
    flex-direction: column;

}
#statement1{
    position: static;
    color: white;
    text-align: center;
    width: auto;

}
#statement1_1{
    font-size: 35px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 10px;


}
#statement1_2{
    font-size: 40px;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-bottom: 20px;

}
#order_now_button{
    color: rgb(0, 0, 0);
    font-size: 30px;
    display: inline-block;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;



}
#quick_access_menu{
    padding: 35px;
    text-align: center;
    align-items: flex-start;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
}
#drink{
    
    height: 350px;
    width: 350px;
    margin-right:40px;
    
}
#quick_access_title{
    margin-bottom: 30px;
    font-size: 35px;
    color: rgb(0, 0, 0);
}

footer{
    background-color:black ;
    color: whitesmoke;
    padding: 25px;
    margin-top: 100px;
    
}