body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #080808;
    font-size: large;
    font-weight: bold;
    
}
h1,h2,h3{
    color: #0f0f0f;
}
a{
    color: #141414;
}
#menu, #aboutus, #feedback{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}
#restaurantname{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;

}
#headercontainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 2%;
    height: 80px;
    background-color: #6E1F1F;

}
#header_name_and_logo{
    display: flex;
    align-items: center;

}
#header_menu{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    margin-left: auto;
    justify-content: space-between;
    gap: 10px;

}
#homelogo{
margin-top: auto;
margin-bottom: auto;
width: 45px;
margin-right: 7px;
}
#cartlogo{
margin-top: auto;
margin-bottom: auto;
width: 50px;
margin-left: 7px;
    

}

#feedbacktable{
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 200px;
    border-collapse: separate;
    border-spacing: 25px;
}
#logo{
    width: 100px;
    height: 100px;
    text-align: right;
    
    
}
#menu:active{
    color: white;
    font-size: 20px;
}
#menu:visited{
    color:white;
    font-size: 20px;
}
#menu:link{
    color: black;
    font-size: 20px;
}
#aboutus:active{
    color: white;
    font-size: 20px;
}
#aboutus:visited{
    color:white;
    font-size: 20px;
}
#aboutus:link{
    color: black;
    font-size: 20px;
}
#feedback:active{
    color: white;
    font-size: 20px;
}
#feedback:visited{
    color:white;
    font-size: 20px;
}
#feedback:link{
    color: black;
    font-size: 20px;
}

table, th, td {
    border-collapse: collapse;
}   
    
table{
    margin: auto;
}
    
th, td {
     padding: 1px;
}   

.rating {
    width: 400px;
    border: 0px solid rgb(255, 255, 255);
}

.rating input {
     display: none;
}

    .star-icon {
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
   
}
.rating{
        
    font-size: 20px;
    cursor: pointer;
    color: lightgray;
}

.rating input:checked ~ label {
    color: gold;
}

#CALCULATE{
    background-color: #6E1F1F;
    color: white;
}

footer{
    background-color:black ;
    color: whitesmoke;
    padding: 25px;
    margin-top: 250px;
}
