body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    color: #080808;
    
}
h1,h2,h3{
    color: #0f0f0f;
}
a{
    color: #141414;
}
#menu, #aboutus, #feedback{
    text-decoration: none;
    font-size: 20px;
    font-weight: bold;
    padding: 8px;
}
#restaurantname{
    font-size: 40px;
    color: white;
    font-weight: bold;
    margin-left: 200px;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
    font-style: italic;
    

}
#headercontainer{
    display: flex;
    justify-content: baseline;
    align-items: center;
    padding: 2%;
    height: 80px;
    background-color: #6E1F1F;
}
#headernameandlogo{
    display: flex;
    align-items: center;
    

}
#header_menu{
    display: flex;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 3%;
    margin-left: auto;
    justify-content: space-between;
    gap: 10px;

}
#logo{
    width: 100px;
    height: 100px;
    align-items: left;
    
    
}
#menu:active{
    color: white;
    font-size: 20px;
}
#menu:visited{
    color:white;
    font-size: 20px;
}
#menu:link{
    color: black;
    font-size: 20px;
}
#aboutus:active{
    color: white;
    font-size: 20px;
}
#aboutus:visited{
    color:white;
    font-size: 20px;
}
#aboutus:link{
    color: black;
    font-size: 20px;
}
#feedback:active{
    color: white;
    font-size: 20px;
}
#feedback:visited{
    color:white;
    font-size: 20px;
}
#feedback:link{
    color: black;
    font-size: 20px;
}

#homelogo{
    margin-top: auto;
    margin-bottom: auto;
    width: 45px;
    margin-right: 7px;
}
#cartlogo{
    margin-top: auto;
    margin-bottom: auto;
    width: 50px;
    margin-left: 7px;
    

}
#most_ordered{
    padding-top: 60px;
    height: 550px;
    display: flex;
    align-items: center;
    position: relative;

}
#popular{
    width: 100%;
    height: 100%;
    text-align: center;
}
#statement1{
    position: absolute;
    color: white;
    text-align: center;
    width: 100%;

}
#statement1_1{
    font-size: 35px;
    color: black;
    text-align: center;
}
#statement1_2{
    font-size: 40px;
    color: black;
    text-align: center;
}
#order_now_button{
    color: white;

}
#quick_access_menu{
    padding: 35px;
    text-align: center;
}

footer{
    background-color:black ;
    color: whitesmoke;
    padding: 25px;
    margin-top: 35px;
}
.menutitle{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    color: #6E1F1F;
}
.drinktitle{
    font-size:   40px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;

}
.menu-img{
    width: 100px;
    height: 100px;
    background-size: contain;     
    background-repeat: no-repeat;
} 

.menutable{
            vertical-align: middle;
            margin:0 auto; 
            width: 60%;
            font-family:'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', sans-serif;
        }


td{
    width: 50%;
    padding: 60px;
    font-style: italic;
    font-size: 35px;
            
        }
.atc:hover{
    background-color:aqua;   
}
.atc{
    background-color: #6E1F1F;
    color:white;
    font-family: Arial, Helvetica, sans-serif;
    border-radius:10%;
    border: 2px solid;

}

        